<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Retroview.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5C6676AB2BC210F7002DD52E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C6676BC2BC210F8002DD52E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C6676C62BC210F9002DD52E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5CD600172C054C18008732E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
